<h1><%= @list.name %></h1>
<p> <%= link_to "back", lists_path(@list) %> |
<%= link_to "Create new bookmark", new_list_bookmark_path(@list) %> </p>

<br>

<div class="b-cards d-flex justify-content-center">
  <% @bookmarks.each do |bookmark| %>
    <div class="b-card mx-2">
      <img src="https://www.denofgeek.com/wp-content/uploads/2017/09/shawshank_main.jpg?fit=1280%2C720" />
      <div class="b-card-info">
        <h2><%= bookmark.movie.title %> | <%= bookmark.movie.rating %> </h2>
        <p><%= bookmark.comment %></p>
        <p class="delete"><%= link_to "delete", bookmark_path(bookmark), method: :delete, data: {confirm: "Are you sure?"} %></p>
      </div>
    </div>
  <% end %>
</div>

<br> <br>
